<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon premier post</a></h2>
            <p>Une première journée avec les DjangoGirls à thecamp ! C'est vraiment trop chouette de se motiver toutes ensemble. En plus on a un super coach ! </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p> Incroyable je vais peut-être réussir à publier mon premier site web homemade ! </p>
        </div>
    </body>
</html>
